body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://kartinkis.cdnbro.com/posts/24216135-fony-s-pikseliami-51.jpg'); /* Adjusted path */
    background-size: cover;
    background-position: center;
}

body, h1, h2, h3, p, a {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 16px; /* Adjust size as needed */
  }
  
  /* Example for larger and bolder headings */
  h1 {
    font-size: 32px; /* Bigger size for headings */
    text-shadow: 3px 3px 0px #000000; /* Optional: adds a retro shadow effect */
  }

.title {
    color: #ffffff;
    margin-bottom: 30px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #ff000000;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: #6cc4ff91;
}